<nav class="navbar bg-primary navbar-expand-lg d-flex">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Readilly</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex ml-auto" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex">
        <a class="nav-link" routerLink="/" *ngIf="!isTokenValid()" >Login</a>
        <a class="nav-link" routerLink="/user/register" *ngIf="!isTokenValid()">Criar Conta</a>
        <a class="nav-link" routerLink="/books" *ngIf="isTokenValid()">Livros</a>
        <a class="nav-link" routerLink="/authors" *ngIf="isTokenValid()">Autores</a>
        <a class="nav-link" routerLink="/genders" *ngIf="isTokenValid()">Gêneros Literários</a>
        <a class="nav-link" routerLink="/about">Sobre</a>
        <a class="nav-link" (click)="logout()" *ngIf="isTokenValid()">Sair</a>
      </div>
    </div>
  </div>
</nav>
