<nav class="navbar bg-primary navbar-expand-lg d-flex">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Readilly</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex ml-auto" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex">
        <a class="nav-link" routerLink="/">Login</a>
        <a class="nav-link" routerLink="/user/register">Criar Conta</a>
        <a class="nav-link" routerLink="/authors">Autores</a>
        <a class="nav-link" routerLink="/about">Sobre</a>
      </div>
    </div>
  </div>
</nav>
