<form (ngSubmit)="submit()" [formGroup]="loginForm" #formDir = "ngForm">
  <div class="form-group input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
    <input type="text" placeholder="Username" formControlName="username" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"  requeired/>
  </div>
  <div *ngIf="username.invalid && formDir.submitted" class="validation-error">
    <p *ngIf="username.errors?.['required']"> O Username é obrigatório</p>
  </div>

  <div class="form-group input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Senha</span>
    <input type="password" placeholder="Senha" formControlName="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"  requeired>
  </div>
  <div *ngIf="password.invalid && formDir.submitted" class="validation-error">
    <p *ngIf="password.errors?.['required']"> A senha é obrigatório</p>
  </div>

  <div class="d-grid gap-2">
    <input type="submit" class="btn btn-primary" value="{{ btnText }}">
    <button type="button" class="btn btn-outline-secondary" routerLink="/user/register">Criar Conta</button>
  </div>
</form>
