<div class="home-container">
  <h1> Minha Biblioteca </h1>
  <button type="button" class="btn btn-primary" routerLink="/books/new">Novo Livro</button>

    <table table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Subtitle</th>
          <th scope="col">Author</th>
          <th scope="col">Gênero</th>
          <th scope="col">Editora</th>
          <th scope="col">Lendo</th>
          <th scope="col">Lido</th>
          <th scope="col">Sumary</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
        <tbody class="table-striped">
          <tr  *ngFor="let book of books">
            <td>{{book.title}}</td>
            <td>{{book.subtitle}}</td>
            <td>{{book.author?.name}} {{book.author?.lastname}}</td>
            <td>{{book.gender?.name}}</td>
            <td>{{book.publisherCompany?.name}}</td>
            <td>{{book.isReading}}</td>
            <td>{{book.readed}}</td>
            <td>{{book.sumary}}</td>
            <td>
              <a (click)="deleteBook(book.id)"> Excluir </a> 
              |
              <a (click)="editBook()"> Editar </a>
            </td>
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="getBook(resources.prevPage)" aria-label="Previous" *ngIf="resources.prevPage != null">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li *ngFor="let number of range(1, resources.qtdPages)" class="page-item"><a class="page-link" (click)="getBook">{{number}}</a></li>
    <li class="page-item">
      <a class="page-link" (click)="getBook(resources.nextPage, resources.qtdBooks, resources.qtdPages)" aria-label="Next" *ngIf="resources.nextPage != null">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
