<form (ngSubmit)="submit()" [formGroup]="userForm" #formDir = "ngForm">
  <div class="form-group ">
    <label for="username: ">Username</label>
    <input type="text" placeholder="Username" formControlName="username" requeired/>
  </div>
  <div *ngIf="username.invalid && formDir.submitted" class="validation-error">
    <p *ngIf="username.errors?.['required']"> O Username é obrigatório</p>
  </div>


  <div class="form-group">
    <label for="name: ">Seu nome</label>
    <input type="text" placeholder="Name" formControlName="name" requeired>
  </div>
  <div *ngIf="name.invalid && formDir.submitted" class="validation-error">
    <p *ngIf="name.errors?.['required']"> O Nome é obrigatório</p>
  </div>


  <div class="form-group">
    <label for="email: ">Email</label>
    <input type="email" placeholder="Email" formControlName="email" requeired>
  </div>
  <div *ngIf="email.invalid && formDir.submitted" class="validation-error">
    <p *ngIf="email.errors?.['required']"> O email é obrigatório</p>
  </div>


  <div class="form-group">
    <label for="Senha: ">Senha</label>
    <input type="password" placeholder="Senha" formControlName="password"  requeired>
  </div>
  <div *ngIf="password.invalid && formDir.submitted" class="validation-error">
    <p *ngIf="password.errors?.['required']"> A senha é obrigatório</p>
  </div>

  <input type="submit" class="btn btn-primary" value="{{ btnText }}">
</form>
