<div class="home-container">
  <h1> Meus Gêneros Literários </h1>
  <button type="button" class="btn btn-primary" routerLink="/genders/new">Novo Gênero</button>

    <table table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
        <tbody class="table-striped">
          <tr  *ngFor="let gender of genders">
            <td>{{gender.name}}</td>
            <td>{{gender.description}}</td>
            <td></td>
        </tbody>
    </table>
</div>
